META-INF
path.xml
work.xml

.DS_Store
.project
.settings
.buildpath
.README.md.html
.pydevproject
.commit
.idea
.sass-cache

composer.phar

vendor
node_modules
temp

*.*~
*.bak
*.old
*.resharper
*.iml
*.ipr
*.iws
*.log
*.pyc
*.orig
